@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 scroll-padding-top: 2rem;
 scroll-behavior: smooth;
 list-style: none;
 text-decoration: none;
}

:root {
 --main-color: #fd4646;
 --text-color: #171427;
 --bg-color: #fff;
}

img {
 width: 100%;
}

body {
 color: var(--text-color);
}

.container {
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}

header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background: var(--bg-color);
 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1rem 2rem;
}

.logo {
 font-size: 1.4rem;
 font-weight: 500;
 color: var(--text-color);
}

#cart-icon {
 font-size: 1.6rem;
 cursor: pointer;
 color: var(--text-color);
}